@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */
@layer base {
  :root {
    --background: 0 0% 98%; /* light gray */
    --foreground: 240 4% 10%; /* rich charcoal */

    --card: 0 0% 100%;
    --card-foreground: 240 4% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 4% 10%;

    --primary: 240 4% 10%; /* rich charcoal */
    --primary-foreground: 0 0% 98%; /* very light grey */

    --secondary: 0 0% 94%; /* light grey */
    --secondary-foreground: 240 4% 10%;

    --muted: 0 0% 90%; /* pale grey */
    --muted-foreground: 240 4% 40%; /* mid grey */

    --accent: 0 0% 92%;
    --accent-foreground: 240 4% 10%;

    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 4% 85%;
    --input: 240 4% 85%;
    --ring: 240 4% 30%;

    --radius: 0.5rem;

    /* Sidebar styling */
    --sidebar-background: 0 0% 96%;
    --sidebar-foreground: 240 4% 25%;
    --sidebar-primary: 240 5% 15%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 90%;
    --sidebar-accent-foreground: 240 4% 15%;
    --sidebar-border: 240 4% 85%;
    --sidebar-ring: 240 5% 50%;
  }

  .dark {
    --background: 240 5% 10%;
    --foreground: 0 0% 98%;

    --card: 240 5% 12%;
    --card-foreground: 0 0% 98%;

    --popover: 240 5% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5% 10%;

    --secondary: 240 3% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 240 3% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 50% 40%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 3% 25%;
    --input: 240 3% 25%;
    --ring: 240 5% 60%;

    --sidebar-background: 240 5% 10%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 240 5% 30%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3% 25%;
    --sidebar-ring: 240 5% 60%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
  @media only screen and (max-width: 768px) {
  body {
    background-image: url('\public\photos\backgroundimage.png');
    background-size: auto;
    background-repeat: repeat;
  }
}

}
